<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/clase.css">
</head>

<body>
    <header>
        <div>
            <section class="headersup">

                <img class="logo" width="400px" src="images/logo-mercado-liebre.svg">
                <div class="busquedalupa">
                    <form action=""> <input placeholder="Buscar, productos, marcas" type="text" name="prod" id="prod">
                    </form>
                    <i class="fas fa-search"></i></div>
            </section>

            <p class="subtitu"> Compra en cuotas y sin tarjeta de credito. </p>
            <div class="menu1">
                <i class="fas fa-bars" id="menu"></i></div>
            <nav class="navegacion">

                <ul>
                    <li>
                        <a style="text-decoration:none" href="#Ofertas">Ofertas</a></li>
                    <li>
                        <a style="text-decoration:none" href="#Tiendas oficiales">Tiendas oficiales</a></li>
                    <li>
                        <a style="text-decoration:none" href="#Vender">Vender</a></li>
                    <li>
                        <a style="text-decoration:none" href="#Ayuda">Ayuda</a></li>

                </ul>
                <br>
                <ul>
                    <li>
                        <a style="text-decoration:none" href="register">Creá tu cuenta </a><i class="fas fa-id-card-alt"></i></li>
                    <li>
                        <a style="text-decoration:none" href="login">Ingresá </a><i class="fas fa-user-tie"></i></li>
                    <li>
                        <a style="text-decoration:none" href="#Mis compras">Mis compras </a>
                        <i class="fas fa-shopping-bag"></i>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <img class="banner" width="1400px" src="images/img-home-banner.jpg">
    </section>
    <main class="principal">
        <section>

            <h3 class="titulares">Basado en tu última visita</h3>
            <article> <img class="imagenes" width="400px" src="images/img-cafetera-moulinex.jpg">

                <ol>
                    <i class="fas fa-truck" id="camion"></i>
                    <li class="precios">$6.770</li>
                    <br>
                    <li class="descuentos">40% OFF</li>
                    <br>
                    <li class="descripciones">Cafetera Moulinex Dolce Gusto <span> Lorem ipsum, dolor sit amet.</span></li>
                </ol>
            </article>
            <article><img class="imagenes" width="400px" src="images/img-macbook-pro-2019.jpg">

                <ol>

                    <li class="precios">$230.000</li>
                    <br>
                    <li class="descuentos">20% OFF</li>
                    <br>
                    <li class="descripciones">Macbook Pro 2019 <span> Lorem ipsum, dolor sit amet.</span></li>
                </ol>
            </article>
            <article> <img class="imagenes" width="400px" src="images/img-samsung-galaxy-s10.jpg">

                <ol>
                    <i class="fas fa-truck" id="camion"></i>
                    <li class="precios">$70.500</li>
                    <br>
                    <li class="descuentos">15% OFF</li>
                    <br>
                    <li class="descripciones">Teléfono móvil Samsung Galaxy S10 <span>Lorem ipsum, dolor sit amet.</span></li>
                </ol>
            </article>
        </section>
        <section>
            <h3 class="titulares">Ofertas</h3>
            <article>
                <img class="imagenes" width="400px" src="images/img-tv-samsung-smart.jpg">

                <ol>

                    <li class="precios">$34.000</li>
                    <br>
                    <li class="descuentos">5% OFF</li>
                    <br>
                    <li class="descripciones">SmartTv Samsung 43" <span>Lorem ipsum, dolor sit amet.</span></li>
                </ol>
            </article>
            <article><img class="imagenes" width="400px" src="images/img-cafetera-moulinex.jpg">

                <ol>
                    <i class="fas fa-truck" id="camion"></i>
                    <li class="precios">$6.770</li>
                    <br>
                    <li class="descuentos">40% OFF</li>
                    <br>
                    <li class="descripciones">Cafetera Moulinex Dolce Gusto <span> Lorem ipsum, dolor sit amet.</span></li>
                </ol>
            </article>
            <article><img class="imagenes" width="400px" src="images/img-samsung-galaxy-s10.jpg">

                <ol>
                    <i class="fas fa-truck" id="camion"></i>
                    <li class="precios">$70.500</li>
                    <br>
                    <li class="descuentos">15% OFF</li>
                    <br>
                    <li class="descripciones">Teléfono móvil Samsung Galaxy S10 <span> Lorem ipsum, dolor sit amet.</span></li>
                </ol>
            </article>

        </section>



    </main>
    <footer>
        <article>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <h3>Envío gratis desde los $ 2.500</h3>
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
        </article>
        <article>
            <h3>Seguridad, de principio a fin</h3>
            <p>
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@.</p>
        </article>


        <div>
            Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
    </footer>
</body>

</html>