<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/clase.css">
</head>

<body>
    <header>
        <div>
            <section class="headersup">

                <img class="logo" src="images/logo-mercado-liebre.svg">
                <div class="busquedalupa">
                    <form action=""> <input placeholder="Buscar, productos, marcas" type="text" name="prod" id="prod">
                    </form>
                    <i class="fas fa-search"></i></div>


                <p class="subtitu"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito. </p>
            </section>
            <nav class="navegacion">
                <ul class="ofer">
                    <a style="text-decoration:none" href="ofertas">
                        <li>Ofertas</li>
                    </a>
                    <a style="text-decoration:none" href="oficiales">
                        <li>Oficiales</li>
                    </a>
                    <a style="text-decoration:none" href="vender">
                        <li>Vender</li>
                    </a>
                    <a style="text-decoration:none" href="ayuda">
                        <li>Ayuda</li>
                    </a>
                </ul>
                <ul class="crea">
                    <a style="text-decoration:none" href="/registro">
                        <li>Creá tu cuenta <i class="far fa-address-card"></i></li>
                    </a>
                    <a style="text-decoration:none" href="/login">
                        <li>Ingresá <i class="fas fa-sign-in-alt"></i></li>
                    </a>
                    <a style="text-decoration:none" href="mis compras">
                        <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
                    </a>
                </ul>
            </nav>
            <div id="menu"><i class="fas fa-bars"></i></div>

    </header>

    <main class="principal">
        <form class="formulario" enctype="multipart/form-data" action="#" method="POST">
            <input placeholder="Nombre de usuario" type="text" name="nombredeusuario" id="nombredeusuario">
            <input placeholder="Elegí tu contraseña" type="password" name="contraseña" id="contraseña">

            <button id="boton" type="submit">Enviar</button>


        </form>


    </main>
    <footer>
        <div class="contFooter">
            <article>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde los $ 2.500</h3>
                <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@.</p>
            </article>

        </div>
        <div>
            Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
    </footer>
</body>

</html>
</body>

</html>