            * {
            margin: 0px;
        }
        
        header div {
            background-color: #EAC926
        }
        
        header div p {
            display: block;
        }
        
        body {
            font-family: 'Roboto', sans-serif;
            box-sizing: border-box;
            margin: 0px;
            border: 0px;
            padding: 0px;
        }
        
        .headersup {
            display: flex;
            flex-direction: row;
            padding: 10px 10px 20px;
            padding-top: 15px;
        }
        
        .headersup .logo {
            width: 50%;
            max-width: 200px;
        }
        
        .busquedalupa {
            width: 40%;
            position: relative;
            padding-top: 6px;
        }
        
        .busquedalupa i {
            position: absolute;
            right: -26px;
            top: 16px
        }
        
        .subtitu {
            text-align: center;
        }
        
        #prod {
            border-radius: 5px;
            width: 100%;
            height: 50%;
            padding: 8%;
            padding-top: 6%;
            padding-bottom: 7%;
            margin-left: 6px;
            border-width: 0px;
        }
        
        #menu {
            width: 40px;
            background-color: #0044AA;
            color: white;
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 40%;
            text-align: center;
            vertical-align: center;
            border-radius: 5px;
            padding: 7px;
            cursor: pointer;
            line-height: 40px;
        }
        
        #menu:hover {
            background-color: #0022AA;
        }
        
        section .banner {
            width: 100%;
            display: block;
        }
        
        .principal {
            background-color: #ebebeb;
        }
        
        main article {
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 15px;
        }
        
        .navegacion {
            display: none;
        }
        
        ul {
            list-style-type: none;
        }
        
        ol {
            list-style-type: none;
            text-align: left;
            margin-left: 0;
            padding: 0;
        }
        
        p {
            font-size: 12px;
        }
        
        .titulares {
            font-size: 24px;
            background-color: #ebebeb;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        
        main section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        main section article {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            background-color: white;
            margin-left: 10px;
            margin-right: 10px;
        }
        
        main section article ol {
            font-family: 'Roboto', sans-serif;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border-top-style: solid;
            border-top-color: #ebebeb;
            border-top-width: 1px;
            position: relative;
            padding-top: 10%;
            padding-bottom: 3%;
            line-height: 35px;
        }
        
        main section article ol i {
            width: 100%;
            position: absolute;
            left: 250px;
            bottom: 99px;
            transition: transform 2s;
            ;
        }
        
        main section article ol li {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: relative;
        }
        
        main section article ol li .precios {
            width: 70%;
        }
        
        main section article ol li .descuentos {
            width: 70%;
            position: absolute;
            right: 50px
        }
        
        main section article ol li span {
            display: none;
        }
        
        main .imagenes {
            width: 100%;
        }
    }
    .precios {
        font-size: 18px;
    }
    .descuentos {
        font-size: 16px;
        color: #1259c3;
    }
    .descripciones {
        font-size: 16px;
    }
    #camion {
        color: #39b54a;
    }
    footer {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    footer article {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #nombredeusuario {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        border-width: 0px;
    }
    #nacimiento {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border-width: 0px;
    }
    #contraseña {
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        border-width: 0px;
        width: 100%;
    }
    .formulario {
        display: block;
        flex-direction: column;
        width: 90%;
        text-align: center;
        align-items: center;
        margin-left: 2%;
        margin-right: 1%;
    }
    main button {
        background-color: #0044AA;
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border-width: 0px;
        color: white;
        margin-right: 0;
    }
    #boton:hover {
        background-color: #0022AA;
    }
    .subtit {
        justify-content: start;
        font-size: 14px;
        text-align: left;
        padding-left: 2%;
    }
    h4 {
        margin-bottom: 10px;
    }
    .radiobutton {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    #botonreset {
        background-color: #0044AA;
    }
    #botonreset:hover {
        background-color: #CC1155
    }
    .checkbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .checkbox label {
        width: 100%;
        line-height: 35px;
        justify-content: center;
    }
    body footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    body footer article {
        width: 100%;
        justify-content: space-between;
    }
    body footer article div {
        width: 100%;
        justify-content: space-between;
    }
    @media(min-width:361px) {
        main section article {
            width: 30%;
            margin-left: 2%;
            margin-right: 2%;
        }
        
        @media(min-width:769px) {
            main section article {
                width: 20%;
                margin-left: 2%;
                margin-right: 2%;
            }